@import "../../app/global.vars.scss";
.ui-button {
	//min-width: 85px;
	width: auto;
	height: 82px;
	letter-spacing: 1px;
	line-height: 82px;
	padding: 0 15px 0 15px;
	font-size: 0.8em;
	display: flex;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bolder;
	cursor: pointer;
	overflow: hidden;

	background-color: white;
	color: black;
	border: 1px solid black;
	&:hover {
		background-color: black;
		//background-color: $textColor;
		color: white;
		border: 1px solid white;
	}

	&.blue {
		background-color: #4285f4;
		color: rgb(255, 255, 255);

		&:hover {
			background-color: #356ae8;
			border: none;
		}
	}

	&.inverted {
		color: black;
		background-color: white;

		&:hover {
			color: white;
			background-color: black;
		}
	}

	.buttonText {
		text-align: center;
	}
}

.blue2 {
	/* 	display: flex;
	background: white;
	color: #444;
	border-radius: 5px;
	border: thin solid #888;
	box-shadow: 1px 1px 1px grey;
	white-space: nowrap;
	min-width: 180px; */

	width: auto;
	height: 82px;
	letter-spacing: 1px;
	line-height: 82px;
	padding: 0 15px 0 15px;
	font-size: 0.8em;
	display: flex;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bolder;
	cursor: pointer;
	overflow: hidden;

	background-color: white;
	color: black;
	border: 1px solid black;

	background: white;
	color: #444;
	border-radius: 5px;
	border: thin solid #888;
	box-shadow: 1px 1px 1px grey;

	&:hover {
		cursor: pointer;
		border: 1px solid rgb(65, 31, 158);
		color: rgb(53, 82, 136);
		/*color: blue;
    background: blue;*/
	}

	span.label {
		font-family: serif;
		font-weight: normal;
	}
	span.icon {
		background: url("../../assets/g-normal.png") transparent 5px 50% no-repeat;
		min-width: 42px;
		width: 42px;
		height: 82px;
		margin: auto 0;
		vertical-align: middle;
	}
	span.buttonText {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		padding-left: 20px;
	}
}

/*.blue {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url("../../assets/g-normal.png") transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
}*/
